body {
    margin: 0;
}

/* #bg-img {
    min-height: 800px;
    background-image: url('../images/backpacking.jpg');
    background-size: 100% 100%;
} */

#logo {
    max-height: 5em;
    /* border-radius: 50%; */
    padding: 1% 3%;
}

/* NAV MENU */

/* #nav_menu {
    background-color: rgba(0, 0, 0, 0.3);
} */

#nav_menu ul{
    display: inline-flex;
    /* justify-content: flex-end; */
    float: right;
    list-style-type: none;
    position: relative;
    margin: 0;
    min-width: 68%;
    font-size: 20px;
    padding-top: 1%;
}

#nav_menu ul li {
    float: left;
    padding: 0 5%;
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    color: #2E8B57;
}

#intro {
    display: flex; 
    /* justify-content: space-around; */
    /* min-height: 800px;
    background-size: 100% 100%;
    background-image: url('../images/mountain-backpacking.jpg'); */
}

#left-section p {
    padding: 15% 10% 10% 19%;
    color: #006400;
}

.circle {
    height: 120px;
    width: 120px;
    background: linear-gradient(to bottom right, #ffd9b3 0%, #ffffff 100%);
    border-radius: 50%;
    margin: 10% 0 0 10%;
    position: relative;
}

.circle h1 {
    position: relative;
    color: #006400;
    padding: 26% 6% 4% 32%;
    margin-bottom: 0;
    font-size: 70px;
    min-width: max-content;
}

#right-section {
    padding-right: 5%;
}

/* #right-section img {
    border-radius: 10px;
} */

/* .middle-part {
    display: flex;
} */

.middle-part h1 {
    font-size: 50px;
    padding: 0 5%;
    margin: 1% 0;
    color: #ea6a0f;
}

.line{
    margin: 0 5% 3%;
    height: 10px;
    width: 400px;
    background-color: #006400;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
}

.card {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0;
}

.card p {
    opacity: 0;
    font-size: 2rem;
    transition: 0.8s;
    color: white;
    transform: scale(0);
}

.card:hover {
    box-shadow: 0 0 0 200px rgb(0, 0, 0, 0.5) inset;
}

.card:hover p {
    opacity: 1;
    transform: scale(1);
}

/* .card {
    position: relative;
}

.card img {
    width: 222px;
    height: 320px;
}

.card img:hover {
    opacity: 0.5;
    display: block;
}

.card h2 {
    position: absolute;
    font-size: 25px;
    top: 10%;
    margin: 0 26px;
    display: none;
} */


/* #middle-part {
    display: flex;
}

#slideshow img {
    width: 70%;
    height: auto;
    padding: 10% 15%;
}

/* #middle-part #images {
    float: left;
}

#middle-part #para {
    padding-top: 8%;
} */